<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>
<body>
    <h3>Write a new chat</h3>
    <form method="POST" action="/chats" >
        <input placeholder="who are you ?" name="from">
        <br> <hr>
        <textarea name="msg" >Write your message</textarea>
        <br> <hr>
        <input placeholder="add receiver" name="to">
        <br> <hr>
        <button>create chat</button>
    </form>
</body>
</html>